.board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  width: 480px;
  height: 480px;
  border: 2px solid #333;
}

.square.light {
  background-color: #ebecd0;
}

.square.dark {
  background-color: #739552;
}
.square.lastmove{
  background-color: #cdd26a;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  cursor: pointer;
  user-select: none;
  position: relative;

}
.square.selected{
    box-shadow: inset 0 0 0 3px red;

}
.piece {
  width: 50px;
  height: 50px;
}
.square.legalSquare::after {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.square.check {
  background-color: #e06666;
}
.captured-piece-img{
  width: 30px;
    height: 30px;
    object-fit: contain;
}
.captured-piece {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    width: 250px;
}